<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register </title>
</head>

<h1> Reset password here </h1>

{% if messages %}

        {% for message in messages %}

        <p style="color: green"> {{ message }}</p>

        {% endfor %}

{% endif %}


<body>

    <form method="post">

        {% csrf_token %}

       
        <label id="password1"> password </label>
        <input for="password1" type="password" name="password1" placeholder="enter your password1">
        <br><br>



        <label id="password2"> confirm password </label>
        <input for="password2" type="password" name="password2" placeholder="enter your password2">

        <br><br>


        <button type="submit"> reset now </button>

    </form>
    
</body>
</html>