{% load static %}
{% load i18n %}
{% load l10n %}

{% load widget_tweaks %}

{% get_available_languages as languages %}

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <!-- <div class="container" data-aos="zoom-in"> -->
        <div class="container" >

          <h3>{% trans 'Our clients' %}</h3>
  
          <div class="row d-flex align-items-center">
  
            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/mdh.svg' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/vlog2.svg' %}" class="img-fluid" alt="">
            </div>
            
            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/jinooca.svg' %}" class="img-fluid" alt="">
            </div>     

            <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'img/clients/statinfo.svg' %}" class="img-fluid" alt="">
              </div>         
     
            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/uds.png' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-1.png' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <img src="static/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <img src="static/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <img src="static/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
  
          </div>
  
        </div>
      </section><!-- End Clients Section -->
  