{% load static %}
{% load i18n %}
{% load l10n %}

{% load widget_tweaks %}

{% get_available_languages as languages %}
   <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <span>{% trans 'Contact us ' %}</span>
            <h2>{% trans 'Contact us' %}</h2>
            <p>{% trans 'For more information, please contact us. ' %} </p>
          </div>
  
          <!-- <div class="row" data-aos="fade-up"> -->
          <div class="row" >
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>{% trans 'Our adress ' %}</h3>
                <p>{{site.address}}</p>
              </div>
            </div>
           
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>{% trans 'Our email ' %}</h3>
                <p>{{site.contact_email}}</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>{% trans 'Call us ' %}</h3>
                <p>{{site.contact_number}}</p>
              </div>
            </div>
  
          </div>
          <!-- <div class="row" data-aos="fade-up"> -->
          <div class="row" >
  
            <div class="col-lg-6 ">
              <!--<iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe> -->
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.5054223062602!2d-79.87156591889807!3d43.533505260162435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b6efe75c37c6b%3A0x2c9494d2d9626995!2s1072%20Abbott%20St%2C%20Milton%2C%20ON%20L9T%205P4!5e0!3m2!1sfr!2sca!4v1692206095897!5m2!1sfr!2sca" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
  
            <div class="col-lg-6">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="{% trans 'Your name ' %} " required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="{% trans 'Your mail ' %}" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="{% trans 'Subject' %}" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="{% trans 'Your message' %}" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">{% trans 'Your message has been sent. Thanks! ' %}</div>
                </div>
                <div class="text-center"><button type="submit">{% trans 'Send your Message ' %}</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->